<!DOCTYPE html>
<html>
<head>
    <title>Sudoku Solver</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Sudoku Solver</h1>
        <div class="slider-container">
            <div class="slider-labels">
                <span class="slider-label">Easy</span>
                <span class="slider-label">Medium</span>
                <span class="slider-label">Hard</span>
            </div>
            <input type="range" id="difficulty-slider" min="1" max="3" value="2" class="slider">
        </div>
        <div class="button-container">
            <div class="left-div">
                <button onclick="resetSudoku()" class="reset-button">Reset</button>
            </div>
            <div>
                <button onclick="generateSudoku()" class="generate-button">Generate Sudoku</button>
            </div>
            <div class="right-div">
                <button onclick="restartSudoku()" id="restart-button" class="restart-button disabled" disabled>Restart</button>
            </div>
        </div>
        <table class="sudoku-grid">
            {% for i in range(9) %}
            <tr>
                {% for j in range(9) %}
                <td><input type="text" maxlength="1" pattern="[1-9]" id="cell-{{i}}-{{j}}" class="sudoku-cell"></td>
                {% if j == 2 or j == 5 %}
                <td class="grid-separator"></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% if i == 2 or i == 5 %}
            <tr><td colspan="11" class="row-separator"></td></tr>
            {% endif %}
            {% endfor %}
        </table>
        <button onclick="solveSudoku()" class="solve-button">Solve Sudoku</button>
    </div>
    <script src="/static/scripts.js"></script>
</body>
</html>
